*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.now{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}

.calendar{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-calendar,
.top-navigation{
    margin-bottom: 20px;
}


#nome-mese{
    font-family: 'Bangers', cursive;
    font-size: 220px;
    margin-right: 20px;
    position: relative;
}

h1{
    color: #8cd9b3;
    opacity: 0.4;
}

.festivo{
    color:red;
    font-weight: bold;
}

.btn-navigation{
    height: 30px;
    width:300px;
    background-color: #8cd9b3;
    opacity: 0.5;
    border: 1px solid black;
    color: black;
}

.btn-navigation:focus{
    display: none;
}

.btn-navigation.prev{
    margin-right: 17px;
}

.absolute{
    position: absolute;
}

#day-after-day{
    height:490px;
    width: 620px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 5px;
}

.section{
    height: calc(500px / 6);
    width: calc(510px / 6);
    border: 1px solid #79d26a;
    border-style: hidden hidden solid hidden;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
}

li:hover{
    background-color: #ededed;
}

.wrong-year{
    color: black;
}

.relative{
    position: relative;
}
