*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* .weather{
    height: 100vh;
    width: 457px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
}

.weather-data{
    height: 520px;
    width: 300px;
    background: #40bf80;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border: 1px solid black;
    border-style: solid hidden solid solid;
} */

i.fas.fa-cloud-meatball{
    display: none;
}

.active{
    display: block;
}

.no-active{
    display: none;
}

.weather-data i{
    font-size: 100px;
}

.week{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-style: solid solid hidden solid;
}

.week li{
    font-size: 20px;
}

.week li:first-of-type{
    margin-left: 10px;
}

.week li:nth-of-type(2){
    margin-right:25px;
}

.calendar{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-calendar,
.top-navigation{
    margin-bottom: 20px;
}


#nome-mese{
    font-family: 'Bangers', cursive;
    font-size: 140px;
    margin-right: 20px;
    position: relative;
}

h1{
    color: #8cd9b3;
    opacity: 0.3;
}

.festivo{
    color:red;
    font-weight: bold;
}

.btn-navigation{
    height: 30px;
    width:330px;
    background-color: #8cd9b3;
    opacity: 0.5;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.btn-navigation:disabled{
    background-color: lightgrey;
    cursor: not-allowed;
}

.btn-navigation.prev{
    margin-right: 17px;
}

.absolute{
    position: absolute;
}

#day-after-day{
    height:520px;
    width: 680px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 5px;
}

.section{
    height: calc(500px / 7);
    width: calc(660px / 7);
    border: 1px solid #79d26a;
    border-style: hidden hidden solid hidden;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    margin-top: 15px;
}

#day-after-day li{
    font-size: 10px;
}

#day-after-day li:hover{
    background-color:#8cd9b3;
    opacity: 0.9;
    cursor: pointer;
}

.wrong-year{
    color: black;
}

.relative{
    position: relative;
}

@media screen and (max-width: 768px){
    .top-navigation{
        display: flex;
        justify-content: center;
    }

    #nome-mese{
        font-size: 80px;
    }

    .btn-navigation{
        height: 30px;
        width:150px;
    }

    #day-after-day{
        height:500px;
        width: 400px;
        overflow-x: auto;
    }

    .today,
    .years-ago{
        display: none;
    }
}
